:root {
    --bsc-font-color: #000000;
    --alternate-font-color: #ffffff;
    --link-font-color: #1f1f1f;
    --container-width: 95vw;
}

body {
    font-family: 'Roboto';
    margin: 0px;
}

header {
    height: 96px;
}

header nav {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

header nav ul {
    display: flex;
    gap: 10px;
    padding: 0px;
}

header nav li {
    display: flex;
    align-items: center;
    list-style: none;   
}

header nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bsc-font-color);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-r {
    justify-content: center;
}

.center-c {
    align-items: center;
}

.full-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    width: var(--container-width);
}

.compressed-navbar {
    width: 30px;
    height: 30px;
    background-color: var(--link-font-color);
}

.simple-icon {
    width: 25px;
    height: 25px;
    background-color: var(--link-font-color);
    margin: 0px 5px;
}

.white-button, .black-button {
    box-shadow: 0px 0px 8px #cccccc;
    padding: 14px 16px;
}

.white-button {
    background-color: var(--alternate-font-color);
    color: var(--bsc-font-color);
    border-radius: 20px;
    
}

.black-button {
    background-color: var(--bsc-font-color);
    color: var(--alternate-font-color);
    border-radius: 20px;
    text-decoration: none;
}

.text-box {
    text-align: center;
    max-width: 650px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

#logo {
    width: 150px;
}

#banner-image {
    width: 330px;
    height: 232px;
    margin: 50px 0px 30px;
}

#service-button {
    font-size: 18px;
    border-radius: 8px;
}